body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e0e0e0;
    color: #424242;
    font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6;
}

header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-iut {
    height: 60px;
    padding: 15px;
    width: initial;
}

.menu {
    width: 100%;
}

.menu ul {
    display: flex;
    height: 100%;
}

.menu li {
    flex-grow: 1;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 3;
    text-decoration: none;
    color: #37474f;
    text-transform: uppercase;
}

.menu a:hover {
    background: #37474f;
    color: #fff;
}

/* classe générique pour toutes les régions du site */
.region {
    margin-bottom: 4em;
}

/* tous les articles sont identiques en mobile */
article {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

article div {
    padding: 2em;
}

article h1 {
    font-size: 1.4em;
    font-weight: bold;
}

.region-top, .region-top a {
    text-decoration: none;
    color: #fff;
}

.cat-orange {
    background-color: #ff7043;
}

.cat-rouge {
    background-color: #c62828;
}

.cat-violet {
    background-color: #5c6bc0;
}

.region-main a {
    text-decoration: none;
    color: #1875d1;
}

.region-sidebar {
    padding: 2em;
    background-color: #f5f5f5;
    color: #666;
}

.region-sidebar h1 {
    font-weight: bold;
}

.region-sidebar form div {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.region-sidebar label {
    width: 6em;
    display: inline-block;
}

.region-sidebar input {
    min-height: 44px;
    flex-grow: 1;
}

.region-sidebar input[type=submit] {
    background-color: #5677fc;
    border-radius: 2px;
    padding: .75em;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: white;
    -webkit-appearance: none;
}

footer {
    background-color: #000;
    height: 50px;
}

/* media query desktop */
@media screen and (min-width: 768px) {

    /* taille maximale du container, centré */
    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    /* passage du header à l'horizontale */
    header {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }
    .menu {
        width: initial;
    }
    .menu a {
        padding: 0 1.5em;
    }

    /* disposition de region-top */
    .region-top {
        display: flex;
    }
    article {
        margin: 0;
    }
    .article-left {
        width: 67%;
    }
    .article-right {
        width: 33%;
    }
    .article-left article {
        height: 100%;
        position: relative;
    }
    .article-left img {
        height: inherit;
        object-fit: cover;
    }
    .article-left div {
        position: absolute;
        bottom: 40px;
        left: 40px;
        width: 300px;
    }
    .article-right div {
        padding: 0.5em 1.5em 1.5em 1.5em;
        font-size: 0.9em;
    }
    .article-right h1 {
        font-size: inherit;
    }

}
